html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    background: white;
}

.header {
    padding: 50px;
    background: #eeeeee;
}

.slider {
    position: relative;
    width: 880px;
    height: 310px;
    margin: 0 auto;
    /* border: 1px dotted black; */
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    /* border: 1px dotted green; */
    z-index: 1000;
}

.slider-controls i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .active {
    background: #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: rgba(255, 255, 0, 0.1); */
}

.slide-text {
    width: 380px;
    padding: 30px 0;
    color: #283136;
}

.slide-title {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    color: black;
}

.slide .btn {
    /* еще  вариант , в котором предусмотренно
    изменение содержимого, а именно надписи кнопки/ссылки
    display: inline-block;
    padding: 10px 80px;
     */
    display: block;
    width: 240px;
    padding: 10px 0;
    margin-top: 25px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.slide:nth-child(1) {
    background-image: url('../img/slider-bg.png');
    background-repeat: no-repeat;
    background-size: 63%;
    background-position: 100% -16px;
}
/* состояние по умолчанию от сюда */
.slide {
    display: none;
}

/* .slide:nth-child(1) {
    display: block;
} */
/* состояние по умолчанию до сюда*/
/* .slide:nth-child(2) {
    display: block;
} */
.slide:nth-child(3) {
    display: block;
}
.slide:nth-child(2) {
    background-image: url('../img/slider-bg-2.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 100% 1px;
} 

.slide:nth-child(3) {
    background-image: url('../img/slider-bg-3.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 100% 1px;
}