.clients
    z-index: 1
    &-block
        height: 134px
        border: 2px solid #e5e5e5
        border-radius: 4px
        margin-bottom: 33px
        display: flex
        align-items: center
        justify-content: center
        
.clients-block1 
        filter: grayscale(100%)
.clients-block1
        &:hover
            filter: grayscale(0%)

