akademy/Barbershop/barbershop_Float/index.html
akademy/Barbershop/barbershop_Float/item.html
akademy/Barbershop/barbershop_Float/css/style.css
akademy/Barbershop/barbershop_Float/price/index.html
akademy/Barbershop/barbershop_Float/price/css/style.css
akademy/Device/device_filling_css_Step_2/index/index.html
akademy/Device/device_filling_css_Step_4/css/style.css
akademy/other/Gllacy/css/style.css
