html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  background: #302f2f1b;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  float: left;
  width: 780px;

  /*только для оформления сетки*/
  min-height: 70px;
}

.user-block {
  float: right;
  width: 140px;

  /*только для оформления сетки*/
  min-height: 70px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  /*грубый вариант высота строки минус размер шрифта
    разделить попалам и вычесть из растояние от лого 
    до следующего блока указанное в фотошопе в данном
    случае 31 - ((42-30)/2) = 25 */
}

.features {
  margin-bottom: 80px;
}


.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  /*только для оформления сетки*/
  min-height: 175px;
}

/*обнуляем margin для последнего блока*/
.features-item:last-child {
  margin-right: 0;
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
}

.index-content-left {
  float: left;
  width: 380px;

  /*только для оформления сетки*/
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;

  /*только для оформления сетки*/
  min-height: 330px;
}
.appointment-form{

}

input[type=text]{
  width: 140px;
}
input[type=tel]{
  width: 140px;
}

.appointment-form-left{
  float: left;

  /* border: 1px solid red; */
  width: 148px;
}
.appointment-form-rigth{
  float: right;

  /* border: 1px solid red; */
  width: 148px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contact {
  float: left;
  width: 320px;
  margin-right: 60px;
  
  /*только для оформления сетки*/
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180 px;

  /*только для оформления сетки*/
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;

  /*только для оформления сетки*/
  min-height: 90px;
}