html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

.main-header {
  border: 1px solid rgb(0, 229, 255);
  margin-bottom: 60px;
}

.main-header-layout {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-start; варик */
}

.main-header-layout::before {
  /* display: none; */
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid red;
}

.main-navigation {
  width: 780px;

  /*Только для оформления сетки*/
  min-height: 70px;
  border: 1px solid rgb(33, 154, 0);
}

.user-block {
  width: 140px;
  /* margin-left: auto; варик*/

  /*Только для оформления сетки*/
  min-height: 70px;
  border: 1px solid rgb(51, 0, 255);
}

.index-logo {
  width: 360px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  border: 1px solid rgb(68, 255, 0);
}

.features {
  display: flex;
  /*display flex задается родителю колонок*/
  justify-content: space-between;
  border: 1px solid rgb(183, 128, 45);

}

.features::before {
  display: none;
}

.features-item {
  width: 300px;

  /*Только для оформления сетки*/
  min-height: 175px;
  border: 1px solid rgb(217, 255, 0);

}

.index-content {
  display: flex;
  justify-content: space-between;

  margin-bottom: 35px;
  padding: 50px 80px;

  border: 3px solid rgb(112, 9, 9);

}

.index-content::before {
  display: none;
}

.index-content-left {
  width: 380px;

  /*Только для оформления сетки*/
  min-height: 330px;
  border: 1px solid rgb(138, 154, 44);
}

.index-content-right {
  width: 300px;

  /*Только для оформления сетки*/
  min-height: 330px;
  border: 1px solid rgb(138, 154, 44);
}

.appointment-form{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.appointment-form::before{
  display: none;
}

input[type=text]{
  width: 140px;
}
input[type=tel]{
  width: 140px;
}

.appointment-form-left{
  /* border: 1px solid red; */
  width: 148px;
}
.appointment-form-rigth{
  /* border: 1px solid red; */
  width: 148px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  border: 1px solid red;

}

.main-footer-layout{
  display: flex;
}

.main-footer-layout::before{
  display: none;
}

.footer-contacts {
  width: 320px;
  margin-right: 60px;

  /*Только для оформления сетки*/
  min-height: 90px;
  border: 1px solid rgb(153, 255, 0);

}

.footer-social {
  width: 180px;

  /*Только для оформления сетки*/
  min-height: 90px;
  border: 1px solid rgb(153, 255, 0);
}

.footer-copyright {
  width: 160px;
  margin-left: auto;

  /*Только для оформления сетки*/
  min-height: 90px;
  border: 1px solid rgb(153, 255, 0);
}