body {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    color: black;
}
.header {
    padding-top: 77px;
    padding-bottom: 96px;
}
.container {
}
.row {
}
.col-5 {
}
.col-7 {
}
.header-text {
}
.header-text_title {
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 700;
}
.header-text_subtitle {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}
.header-text_descr {
    margin-bottom: 47px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
.header-text_price {
    margin-bottom: 53px;
    color:#313131;
    font-size: 48px;
    font-weight: 400;
    
}
.header-text_buttons {
}
.button {
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: #f05a22;
    color: #fff;
    padding: 22px 43px;
    font-size: 24px;
    font-weight: 700;
    margin-right: 40px;
}
.button-o {
    background-color: transparent;
    border: 3px solid #f05a22;
    color:#f05a22;
}