html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  color: #fff;
  text-transform: uppercase;

  background: #000000 url("../img/bg.jpg") no-repeat center top;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;

  color: #fff;

  background-color: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;

  color: #fff;
  text-decoration: none;
}

.main-navigation a:hover{
  background: #242424;
}

.user-block {
  float: right;
  max-width: 140px; 
}

.login {
  position: relative;

  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
}

.login:hover{
  background: #242424;
}

.login::before{
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;

  width: 18px;
  height: 18px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -2px -1px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  /*грубый вариант высота строки минус размер шрифта
    разделить попалам и вычесть из растояние от лого 
    до следующего блока указанное в фотошопе в данном
    случае 31 - ((42-30)/2) = 25 */
}

.features {
  margin-bottom: 80px;
}


.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  /*только для оформления сетки*/
  min-height: 175px;
}

/*обнуляем margin для последнего блока*/
.features-item:last-child {
  margin-right: 0;
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
}

.index-content-left {
  float: left;
  width: 380px;

  /*только для оформления сетки*/
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;

  /*только для оформления сетки*/
  min-height: 330px;
}

.appointment-form {}

input[type=text] {
  width: 140px;
}

input[type=tel] {
  width: 140px;
}

.appointment-form-left {
  float: left;

  /* border: 1px solid red; */
  width: 148px;
}

.appointment-form-rigth {
  float: right;

  /* border: 1px solid red; */
  width: 148px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contact {
  float: left;
  width: 320px;
  margin-right: 60px;

  /*только для оформления сетки*/
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180 px;

  /*только для оформления сетки*/
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;

  /*только для оформления сетки*/
  min-height: 90px;
}