* {
    box-sizing: border-box;
}

body {
    position: relative;
    /*задаем для родительского блока 
                        относительное позиционирование,
                        чтобы потом абсолютно позиционировать
                         блок внутри него*/
    /*Если задать значение relative для свойства position, то положение
элемента устанавливается относительно его исходного места. */
    /* top: 50px; */
}

#example {
    width: 400px;
    position: absolute;
    
    /* Координаты указываются относительно
                        краёв окна браузера, называемого
                         «видимой областью» 
                        или «областью просмотра» */
    left: 50%;
    margin-left: -200px;
    /*смещаем блок влево на расстояние,
                         равное половине его ширины*/
}

#header {
    background-color: #88d;

    padding: 3px 0px;
}

#header p {
    margin: 0px 3px;
}

#content {
    /* position: static; по умолчанию */
    background-color: #000;
    position: relative;
    
    /*
     сделать две колонки, с помощью 
     относительного и абсолютного позиционирования.
    */
    height: 450px;
    /*
    Две колонки с фиксированной высотой
Одно из решений – задать фиксированную высоту контейнеру,
 содержащему колонки.
    */
    /*
    Назначив блоку #content относительное позиционирование
     (position: relative), мы сможем позиционировать 
     любые дочерние элементы, относительно его границ. 
     Давайте разместим блок #div-1a, в верхнем правом углу 
     блока #content
    */
    /*
        Относительное позиционирование (position: relative) 
    позволяет вам использовать свойства: top, bottom, 
    left и right, для расположения элемента относительно 
    того места, где бы он появился при обычном позиционировании.

    Давайте переместим #content на 20 пикселей вниз,
    и на 40 пикселей влево:

    position: relative;
    top: 20px;
    left: -40px; 

    */
}

#cont-pad {
    padding: 10px;
    
}

#content p {
    color: #fff;
    margin: 0px 13px;
}

#div1-a {
    background-color: #d33;

    float: left;
    width: 190px;

    /*
    Назначив блоку float, мы максимально 
    возможно оттолкнем его к правому (или левому)
    краю, а следующий за блоком текст, будет 
    обтекать его. Обычно такой прием используется 
    для картинок, но мы будем использовать его для
    более сложной задачи, поскольку это единственный
    инструмент, имеющийся в нашем распоряжении.
    */

    /* position:absolute;
    top:0;
    left:0;
    width:200px; */

    /*
    position:fixed;
    top:0;
    right:0;
    width:200px; 
    Фиксированное позиционирование (position: fixed),
    является подразделом абсолютного позиционирования. 
    Единственное его отличие в том, что он всегда 
    находится в видимой области экрана, и не двигается 
    во время прокрутки страницы. В этом отношении, 
    он немного похож на фиксированное фоновое изображение.
    */


    /* position: absolute;
    top: 0;
    right: 0;
    width: 200px; */
    /* При абсолютном позиционировании (position: absolute), 
    элемент удаляется из документа, и появляется там,
    где вы ему скажете.*/

}

#div1-b {
    background-color: #3d3;

    float:left;
    width:190px;

    /* position:absolute;
    top:0;
    right:0;
    width:200px; */
}

#div1-c {
    background-color: #33d;
    clear: both;
}

#footer {
    background-color: #88d;
    padding: 3px 0px;
}

#footer p {
    margin: 0px 3px;
}

/* static — нормальное или статичное позиционирование, при этом элементы отображаются на
            веб-странице в том порядке, в каком они идут в исходном коде HTML сверху вниз.
             static — это значение по умолчанию для position.

relative — относительное позиционирование. Изменяет положение элемента от его исходного расположения.

absolute — абсолютное позиционирование. Элемент при этом не существует в потоке 
            документа и его положение задаётся относительно краёв браузера.

fixed — фиксированное позиционирование. По своему действию похоже на абсолютное 
        позиционирование, но в отличие от него привязывается к указанной свойствами left, top, right
         и bottom точке на экране и не меняет своего положения при прокрутке веб-страницы.

sticky — липкое позиционирование. Обычно применяется для фиксации заголовка на одном 
        месте, пока содержимое, к которому относится заголовок, прокручивается на странице.

Для изменения положения элементов по оси Z применяется свойство z-index, которое 
непосредственно связано со свойством position. z-index работает только для элементов, у которых 
position задано как relative, absolute или fixed.

        */