.first, .second {
    display: inline-block;
    width: 400px;
}
.first {
    background-color: red;
    height: 400px;
    vertical-align: super;
}

.second {
    background-color: green;
    height: 100px;
    vertical-align: -20px;
}
