html,
body {
  min-width: 1400px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

body {
  background: #444444;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;

}

.main-header {
  border: 1px solid rgb(0, 8, 255);
}

.container {
  background: #fff;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-top {
  width: 360px;
}

.header-top__logo {}

.header-top__middle {}

.header-top__search {
  float: left;
  width: 360px;
  margin-right: 240px;
  border: 1px solid red;
}

.search-field {}

.search-field__img {}

.user-menu {
  float: left;
  width: 160px;
  border: 1px solid red;
}

.user-profile__btn {}

.user-profile__logout {}

.user-menu {
  float: left;
  width: 160px;
  border: 1px solid red;
}

.compare-link {}

.compare-link__img {}

.compare-link__text {}

.cart-button {}

.buttons-link {}

.buttons-link__img {}

.buttons-link__text {}

.header-bottom_nav {
  border: 1px solid rgb(9, 255, 0);
}

.header-bottom__catalog {
  float: left;
  width: 360px;
  margin-right: 240px;
  border: 1px solid red;
}

.catalog-btn {}

.header-bottom__delivery {
  float: left;
  width: 160px;
  border: 1px solid red;
}

.delivery-btn {}

.header-bottom__warranty {
  float: left;
  width: 140px;
  border: 1px solid red;
}

.warranty-btn {}

.header-bottom__contacts {
  float: right;
  width: 140px;
  border: 1px solid red;
}

.contacts-btn {}

.main-page {}

.main-top {}

.content-slider_left {
  float: left;
  width: 560px;
  border: 1px solid red;
}

.slider-title_img {}

.content-slider_right {
  float: right;
  width: 580px;
  border: 1px solid red;
}

.slider-content_title {}

.slider-title_left {}

.slider-title_rigth {}

.slider-title_main {}

.slider-subtitle_main {}

.slider-characteristics_goods {}

.content-nav {}

.content-nav_top {
  list-style-type: none;
  padding-left: 0;
  /* border: 1px solid red; */
}

.nav-cards {
  float: left;
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
  margin-right: 40px;
}

.nav-cards:last-child {
  float: right;
  margin-right: 0;
}

.content-nav_bottom {
  list-style-type: none;
  padding-left: 0;
}

.nav-cards_title {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.nav-cards_title:last-child {
  float: right;
  margin-right: 0;
}

.terms-slider {
  border: 1px solid red;

}

.terms-slider_left {
  float: left;
  border: 1px solid red;
}

.terms-slider_list {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid red;
  width: 160px;
}

.terms-slider_right {
  float: right;
  border: 1px solid rgb(38, 255, 0);
  
}

.terms-slider_txt{
  float: left;
  width: 460px;
  border: 1px solid red;
  
}

.terms-slider_img{
  float: right;
  width: 260px;
  margin-left: 40px;
  border: 1px solid red;
  
}

.logo-section {

  border: 1px solid red;
}

.brand-logos{
  float: left;
  width: 260px;
  margin-right: 37px;
  border: 1px solid red;
}

.brand-logos:last-child{
  float: right;
  margin-right: 0;
}

.info-section {
  border: 1px solid red;
}

.info-section_left {
  float: left;
  width: 560px;
  border: 1px solid red;
}

.info-section_right {
  float: right;
  width: 560px;
  border: 1px solid red;
}

.section-map {}

.main-footer{
  background:#444444;
}

.footer-top {
  border: 1px solid red;
  
}

.footer-top__logo {
  float: left;
  width: 200px;
  border: 1px solid red;
  
}

.user-menu_btn{
  float: right;
  width: 360px;
  border: 1px solid red;
  
}

/* .user-profile__login {}

.user-profile__icon {}

.user-profile__name {} */

.user-profile__btn{
  float: left;
  width: 85px;
  margin-right: 40px;
}

.compare-link{
  float: left;
  width: 85px;
  margin-right: 40px;
}

.cart-button{
  float: right;
  margin-right: 0;
}

.footer-middle {}

.footer-middle__adress {
  float: left;
  width: 200px;
  border: 1px solid red;
  
}

.footer-middle__wrapper {
  float: left;
  width: 440px;
  margin-left: 160px;

  border: 1px solid red;
  
}

.footer-middle_delivery {
  float: left;
  width: 140px;
  border: 1px solid rgb(224, 216, 216);
}

.footer-bottom__warranty {
  text-align: center;
  float: left;
  width: 120px;
  
  border: 1px solid rgb(224, 216, 216);
}

.footer-bottom__contacts {
  text-align: end;
  float: right;
  width: 120px;
  border: 1px solid rgb(224, 216, 216);
  
}

.footer-middle__connection {
  float: right;
  width: 180px;
  border: 1px solid red;
  
}

.tel-connect {}

.tel-connect__number {}

.footer-bottom {}

.footer-line {
  float: left;
  width: 80px;
  border: 1px solid red;
  
}

.footer-social {
  float: left;
  width: 160px;
  margin-left: 420px;
  border: 1px solid red;
}

.social__icon {

}
.soc_icon{
  width: 36px;
  float: left;
  margin-right: 26px;
}

.soc_icon:last-child{
  float: right;
  margin-right: 0;
}

.logo-developers {
  float: right;
  width: 60px;
  border: 1px solid red;
  
}

.logo-developers__img {}